/*The custom font used in mockup*/
@font-face{
	font-family: 'bebasKai';
	src: url('fonts/BebasKai.ttf');
}


/*the bar at the top of the page*/
#linkbar {
	margin: 0;
	height: 4rem;
	width: 100%;
	background-color: #C7D7D9;
	font-family: 'bebasKai';
	color: #FFFFFF;
	font-size: 200%;
	text-align: left;
	padding-left: 1%;
}	

/*first row of portraits on main page*/
.portrait{
	float: left;
	margin-top: 3%;
	position: relative;
	background-color: #D1E2E4;
}

/*second row of portraits on main page*/
.portrait2{
	float: left;
	position: relative;
	background-color: #DAEBED;
}

/* style for the nav section on right side of bar*/
nav{
	float: right;
	width: 50%;
	padding-right: 5%;
	padding 1%;
	text-align: right;
}

/*desc box under portraits on main page*/
#desc{
	width: 50%;
	font-family: bebasKai;
	color: #000000;
	margin-left: 25%;
	
}




/*unvisited link*/

a:link{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 75%;
	padding-left: 8%;
	
}

/*visited link*/

a:visited{
	text-decoration: none;
	color: #FFFFFF;
}

/*mouse over link*/

a:hover{
	text-decoration: none;
	
}

/*selected link*/

a:active{
	text-decoration: none;
	
}

p{
	font-family: 'bebasKai';
}

.cardDisplay{
	text-align: center;
}